<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Links</title>
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/links.css">
</head>
<body>
    <%- include("../partials/header.ejs",{user:user, test:test}) %>
    <div class="dashboard-container">
        <%- include("partials/sidebar.ejs") %>
        <div id="main">
            <h1>Links</h1>
            <button class="btn btn-secondary" onclick="createNewUrl()">Create new url shorten</button>
            <div id="links">
                <% links.forEach(link => { %>
                    <a href="/dashboard/link/<%= link.short %>">
                        <div class="link-container">
                            <h3 class="link-name">
                                <%= link.short %>
                            </h3>
                            <p class="link-info">
                                <span class="link"><%= link.url %></span><br>
                                <span class="date"><%= String(link.created_at).split(" ")[0] %></span>
                            </p>
                        </div>
                    </a>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function createNewUrl(){
        document.location.href = "create"
    }
</script>